/* SCSS VARIABLES */
/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  letter-spacing: .04em; }

/* Navigation Bar */
.navbar {
  margin: 0;
  padding: 0; }
  .navbar .desktop-menu-item {
    padding: 14px 17px; }

/* Navbar Brand Logo Invert Color On Hover */
.navbar-brand:hover {
  filter: invert(100%); }

.navbar-light .navbar-nav .nav-link {
  color: #9d9d9d;
  font-size: 1.2em;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff; }

.navbar-toggler {
  margin: 1% 3%; }

.navbar-light .navbar-toggler {
  background: rgba(157, 157, 157, 0.4); }

.navbar-default {
  background: rgba(0, 0, 0, 0.7); }

/* Section 1 */
.section1 {
  height: 100vh;
  position: relative;
  background: #5E4B8D;
  background: url("../img/retro_80s_arcade.jpg") no-repeat; }

.header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.mix-logo {
  width: 50vw; }

/*----Old TV Scanlines Screen Effect----*/
.scanlines {
  position: relative;
  overflow: hidden; }

.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute; }

.scanlines:before {
  width: 100%;
  height: 12px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
  animation: scanline 6s linear infinite; }

.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(51%, rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 8px;
  -webkit-animation: scanlines 1s steps(60) infinite;
  animation: scanlines 1s steps(60) infinite; }

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 200000%, 0);
    transform: translate3d(0, 200000%, 0); } }
@keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 200000%, 0);
    transform: translate3d(0, 200000%, 0); } }
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%; } }
@keyframes scanlines {
  0% {
    background-position: 0 50%; } }
/* What is Mix? Section */
.mix-info {
  background: white;
  margin-top: 0.7em; }
  .mix-info .mix-info-container {
    margin-top: 3%;
    margin-bottom: 3%; }
    .mix-info .mix-info-container .mix-info-title {
      margin-bottom: 75px;
      font-family: "neoneonregular";
      font-size: 5em;
      text-align: center;
      font-weight: bold; }
    .mix-info .mix-info-container .mix-info-content {
      margin: 0 auto;
      padding: 0 5em;
      font-family: 'proxima_nova_ltsemibold'; }
      .mix-heading {
      height: 5em;
      margin-bottom: 25px;
      text-align: center; }
      .mix-info .mix-info-container .mix-heading h3 {
        color: #D4295E; }

/*----Accordion Styles----*/
.center-people {
  text-align: center; }

.ui-accordion {
  margin: -8px; }

.ui-helper-reset {
  border: none; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr,
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-radius: 0px; }

.ui-accordion .ui-accordion-header {
  text-align: center;
  font-size: 2.5em;
  border: none;
  margin: 1px 0; }

.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  right: 100%;
  margin-right: -30px;
  top: 50%;
  margin-top: -8px; }

.ui-accordion-icons .ui-accordion-header a {
  padding-right: 1em; }

.ui-accordion-header:first-of-type {
  background: #5e4b8d; }

#accordion .ui-accordion-header:nth-of-type(2) {
  background: #d4295e; }

#accordion .ui-accordion-header:nth-of-type(3) {
  background: #fbad2f; }

.graphic {
  background: #5e4b8d;
  background: -moz-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5e4b8d), color-stop(27%, #5e4b8d), color-stop(54%, #5e4b8d), color-stop(100%, #d62960));
  background: -webkit-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -o-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -ms-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: linear-gradient(to bottom, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%); }

.photo {
  background: #d4295f;
  background: -moz-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4295f), color-stop(60%, #d62960), color-stop(93%, #f59536), color-stop(100%, #fbac2d));
  background: -webkit-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -o-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -ms-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: linear-gradient(to bottom, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%); }

.web {
  background: #fbad2f;
  background: -moz-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fbad2f), color-stop(100%, rgba(251, 173, 47, 0.71)));
  background: -webkit-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -o-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -ms-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: linear-gradient(to bottom, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%); }

/* Accordion Images Effects */
#graphicDesignStudents img:hover, #photo img:hover, #webDev img:hover {
  cursor: pointer; }

.picture {
  border-radius: 2px; }

/* Accordion Glitch Image Border */
.imageBorder {
  margin: 4%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1; }

.imageBorder:before,
.imageBorder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px; }

.imageBorder:before {
  background-color: #00ffff;
  z-index: -1; }

.imageBorder:after {
  background-color: #ff00ff;
  z-index: -2; }

.imageBorder:hover .link-inner {
  -webkit-animation: glitchy 0.5s ease 1;
  animation: glitchy 0.5s ease 1; }

.imageBorder:hover:before {
  -webkit-animation: glitchy 0.5s ease 0.5s infinite;
  animation: glitchy 0.5s ease 0.5s infinite; }

.imageBorder:hover:after {
  animation: glitchy 0.5s ease infinite reverse; }

@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }
/*----Accordian Headers Basic Neon Glow Text----*/
.neon {
  font-family: 'neoneonregular';
  text-align: center;
  font-size: 120px; }

.pink {
  color: #ffffff;
  text-shadow: 0px 0px 200px #ff91fc, 0px 0px 30px #ff49fb, -1px -1px 5px #fff, 10px 1px 100px #af00b2; }

/*MODAL*/
/* The Modal (background) */
.bioModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }

/* Modal Close Button */
.close {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 8px 8px 9px;
  color: #9d9d9d;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 13;
  font-size: 2em;
  font-weight: bold;
  border-radius: 2px 0 2px 2px; }

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

/* Modal Content */
.modalContent {
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 0px 1px 1px #191919;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  background: #5e4b8d;
  background: -moz-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #5e4b8d), color-stop(50%, #d4295e), color-stop(100%, #fbad2f));
  background: -webkit-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -o-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: -ms-linear-gradient(-45deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background: linear-gradient(135deg, #5e4b8d 0%, #d4295e 50%, #fbad2f 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; }

#modalPhoto img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 0 8% 8%; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/* Modal Text */
#modalText {
  padding: 6% 6% 6% 0;
  font-family: 'proxima_nova_ltsemibold';
  color: #f5f5f5; }

#modalText h3 {
  margin-bottom: 0;
  margin-top: 5px; }

#modalText p {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 5px; }

.bioLinks {
  padding-top: 3.5%;
  padding-bottom: 4%; }

#modalText .bioLinks p {
  margin-bottom: 0; }

.bioLinks a {
  font-family: 'proxima_nova_ltsemibold';
  display: block;
  color: #323232; }

.bioLinks a:hover {
  color: #ffffff; }

/*---Modal Name Glitch Text Effect----*/
.glitch {
  font-family: 'proxima_nova_ltsemibold';
  color: white;
  font-size: 50px;
  position: relative;
  margin: 0 auto;
  text-shadow: 1px 1px black; }

@keyframes noise-anim {
  0% {
    clip: rect(58px, 9999px, 3px, 0); }
  5% {
    clip: rect(15px, 9999px, 9px, 0); }
  10% {
    clip: rect(100px, 9999px, 44px, 0); }
  15% {
    clip: rect(25px, 9999px, 40px, 0); }
  20% {
    clip: rect(94px, 9999px, 14px, 0); }
  25% {
    clip: rect(33px, 9999px, 63px, 0); }
  30% {
    clip: rect(85px, 9999px, 55px, 0); }
  35% {
    clip: rect(5px, 9999px, 96px, 0); }
  40% {
    clip: rect(76px, 9999px, 37px, 0); }
  45% {
    clip: rect(88px, 9999px, 44px, 0); }
  50% {
    clip: rect(100px, 9999px, 88px, 0); }
  55% {
    clip: rect(100px, 9999px, 12px, 0); }
  60% {
    clip: rect(68px, 9999px, 23px, 0); }
  65% {
    clip: rect(99px, 9999px, 18px, 0); }
  70% {
    clip: rect(43px, 9999px, 81px, 0); }
  75% {
    clip: rect(50px, 9999px, 57px, 0); }
  80% {
    clip: rect(2px, 9999px, 72px, 0); }
  85% {
    clip: rect(25px, 9999px, 79px, 0); }
  90% {
    clip: rect(69px, 9999px, 75px, 0); }
  95% {
    clip: rect(65px, 9999px, 16px, 0); }
  100% {
    clip: rect(93px, 9999px, 77px, 0); } }
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #fbad2f;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(92px, 9999px, 44px, 0); }
  5% {
    clip: rect(27px, 9999px, 19px, 0); }
  10% {
    clip: rect(27px, 9999px, 93px, 0); }
  15% {
    clip: rect(45px, 9999px, 42px, 0); }
  20% {
    clip: rect(21px, 9999px, 28px, 0); }
  25% {
    clip: rect(55px, 9999px, 87px, 0); }
  30% {
    clip: rect(88px, 9999px, 30px, 0); }
  35% {
    clip: rect(10px, 9999px, 44px, 0); }
  40% {
    clip: rect(66px, 9999px, 85px, 0); }
  45% {
    clip: rect(63px, 9999px, 16px, 0); }
  50% {
    clip: rect(60px, 9999px, 26px, 0); }
  55% {
    clip: rect(27px, 9999px, 90px, 0); }
  60% {
    clip: rect(72px, 9999px, 21px, 0); }
  65% {
    clip: rect(72px, 9999px, 37px, 0); }
  70% {
    clip: rect(84px, 9999px, 54px, 0); }
  75% {
    clip: rect(26px, 9999px, 19px, 0); }
  80% {
    clip: rect(25px, 9999px, 49px, 0); }
  85% {
    clip: rect(96px, 9999px, 29px, 0); }
  90% {
    clip: rect(61px, 9999px, 38px, 0); }
  95% {
    clip: rect(45px, 9999px, 16px, 0); }
  100% {
    clip: rect(77px, 9999px, 96px, 0); } }
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #d4295e;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.7);
  margin: 7px 0px;
  text-align: center;
  padding: 2em 0;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 1.2em;}
  .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;

  text-decoration: none;
  margin: 10% 5%;
}

.fa:hover {
    opacity: 0.6;
    color: yellow;
}
  .fa-facebook {
background: #3B5998;
color: white;

}
.fa-instagram {
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
color: white;
}

footer p {
  color: #9d9d9d; }

footer a {
  color: #f5f5f5;
  font-style: italic; }

footer a:hover {
  color: #d4295e; }

/* Up Button */
#fixedBtn {
  position: fixed;
  bottom: 8%;
  right: 1.5%;
  z-index: 15; }

#toTopBtn {
  border-radius: 2px;
  font-family: Georgia;
  color: #9d9d9d;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 7px 10px 1px 10px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  text-decoration: none;
  transition: 0.6s ease; }

#toTopBtn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.5); }

/* MEDIA QUERIES */
/*Section 1 Media Queries*/
@media only screen and (max-width: 1000px) {
  .header-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }

  .mix-logo {
    width: 50vw; }

  .header-container h2 {
    position: relative;
    padding-left: 0.5em;
    /*padding-left to make heading align up with the logo*/
    font-family: 'proxima_nova_ltsemibold';
    font-size: 3em; } }
@media only screen and (max-width: 640px) {
  .header-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }

  .mix-logo {
    width: 100vw; }

  .header-container h2 {
    position: relative;
    padding-left: 0.5em;
    /*padding-left to make heading align up with the logo*/
    font-family: 'proxima_nova_ltsemibold';
    font-size: 3em; } }
/* What is Mix Section Media Queries */
@media only screen and (max-width: 767px) {
  .mix-info {
    height: 100%; } }
@media only screen and (max-width: 493px) {
  iframe {
    margin-top: 56px; }

  .mix-info .mix-info-container .mix-info-content {
    padding: 0 2em; } }
/* Accordion & Images Media Queries */
@media only screen and (max-width: 851px) {
  .picture {
    width: 150px; }

  .imageBorder {
    margin: 3%; }

  .ui-accordion .ui-accordion-content {
    padding: 2%; } }
@media only screen and (max-width: 600px) {
  .imageBorder {
    margin: 2%; }

  .ui-accordion .ui-accordion-content {
    padding: 1%; } }
@media only screen and (max-width: 330px) {
  .imageBorder {
    margin: 1.5%; } }
/* Modal Media Queries */
@media only screen and (max-width: 991px) {
  #modalPhoto img {
    width: 70%;
    padding: 6% 7% 3% 7%;
    margin: 0 auto; }

  #modalText {
    padding: 0 7% 6% 7%;
    width: 70%;
    margin: 0 auto; } }
@media only screen and (max-width: 768px) {
  #modalText h3 {
    font-size: 1.3em; }

  #modalText p {
    font-size: 1.1em; } }
@media only screen and (max-width: 600px) {
  .modalContent {
    width: 100%; }

  #modalPhoto img {
    width: 95%;
    padding-bottom: 1%; }

  #modalText {
    padding: 0 6% 2% 6%;
    width: 95%;
    margin: 0 auto; } }
@media only screen and (max-width: 425px) {
  .glitch {
    font-size: 2.5em; } }
/*Footer Media Query*/
@media only screen and (max-width: 768px) {
  footer {
    padding-top: 6%;
  }
  .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
    .fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
     }
@media only screen and (max-width: 400px) {
  footer {
    padding-top: 8%; }
    .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-instagram {
      background: #125688;
      color: white;
    }
  }

/*# sourceMappingURL=main.css.map */
