/* SCSS VARIABLES */
/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  letter-spacing: .03em; }

/* Navigation Bar */
.navbar {
  margin: 0;
  padding: 0; }
  .navbar .desktop-menu-item {
    padding: 14px 17px; }

/* Navbar Brand Logo Invert Color On Hover */
.navbar-brand:hover {
  filter: invert(100%); }

.navbar-light .navbar-nav .nav-link {
  color: #9d9d9d;
  font-size: 1.2em;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff; }

.navbar-toggler {
  margin: 1% 3%; }

.navbar-light .navbar-toggler {
  background: rgba(157, 157, 157, 0.4); }

.navbar-default {
  background: rgba(0, 0, 0, 0.7); }

/* Section 1 */
.section1 {
  height: 100vh;
  position: relative;
  background: #5E4B8D; }

.header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.mix-logo {
  width: 50vw; }

.header-container h2 {
  position: relative;
  z-index: 100;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 4em;
  color: #9d9d9d; }

/*----Old TV Scanlines Screen Effect----*/
/* ANIMATE UNIQUE SCANLINE */
/* What is Mix? Section */
.mix-info {
  background: white;
  margin-top: 0.7em; }
  .mix-info .mix-info-container {
    margin-top: 5%;
    margin-bottom: 5%; }
    .mix-info .mix-info-container .mix-info-title {
      margin-bottom: 75px;
      font-family: "neoneonregular";
      font-size: 5em;
      text-align: center;
      font-weight: bold; }
    .mix-info .mix-info-container .mix-info-content {
      margin: 0 auto;
      padding: 0 5em;
      font-family: 'proxima_nova_ltsemibold'; }
    .mix-info .mix-info-container .mix-heading {
      height: 5em;
      margin-bottom: 25px;
      text-align: center; }
      .mix-info .mix-info-container .mix-heading h3 {
        color: #D4295E; }

/*----Accordion Styles----*/
.center-people {
  text-align: center; }

.ui-accordion {
  margin: -8px; }

.ui-helper-reset {
  border: none; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr,
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br,
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-radius: 0px; }

.ui-accordion .ui-accordion-header {
  text-align: center;
  font-size: 2.5em;
  border: none;
  margin: 1px 0; }

.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  right: 100%;
  margin-right: -30px;
  top: 50%;
  margin-top: -8px; }

.ui-accordion-icons .ui-accordion-header a {
  padding-right: 1em; }

.ui-accordion-header:first-of-type {
  background: #5e4b8d; }

#accordion .ui-accordion-header:nth-of-type(2) {
  background: #d4295e; }

#accordion .ui-accordion-header:nth-of-type(3) {
  background: #fbad2f; }

.graphic {
  background: #5e4b8d;
  background: -moz-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5e4b8d), color-stop(27%, #5e4b8d), color-stop(54%, #5e4b8d), color-stop(100%, #d62960));
  background: -webkit-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -o-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: -ms-linear-gradient(top, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%);
  background: linear-gradient(to bottom, #5e4b8d 0%, #5e4b8d 27%, #5e4b8d 54%, #d62960 100%); }

.photo {
  background: #d4295f;
  background: -moz-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4295f), color-stop(60%, #d62960), color-stop(93%, #f59536), color-stop(100%, #fbac2d));
  background: -webkit-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -o-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: -ms-linear-gradient(top, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%);
  background: linear-gradient(to bottom, #d4295f 0%, #d62960 60%, #f59536 93%, #fbac2d 100%); }

.web {
  background: #fbad2f;
  background: -moz-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fbad2f), color-stop(100%, rgba(251, 173, 47, 0.71)));
  background: -webkit-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -o-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: -ms-linear-gradient(top, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%);
  background: linear-gradient(to bottom, #fbad2f 0%, rgba(251, 173, 47, 0.71) 100%); }

/* Accordion Images Effects */
#graphicDesignStudents img:hover, #photo img:hover, #webDev img:hover {
  filter: contrast(2);
  -webkit-filter: contrast(2);
  cursor: pointer; }

.picture {
  -webkit-transition: all .3s;
  transition: all .3s; }

/* Accordion Glitch Image Border */
.imageBorder {
  margin: 4%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1; }

.imageBorder:before,
.imageBorder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.imageBorder:before {
  background-color: #00ffff;
  z-index: -1; }

.imageBorder:after {
  background-color: #ff00ff;
  z-index: -2; }

.imageBorder:hover .link-inner {
  -webkit-animation: glitchy 0.5s ease 1;
  animation: glitchy 0.5s ease 1; }

.imageBorder:hover:before {
  -webkit-animation: glitchy 0.5s ease 0.5s infinite;
  animation: glitchy 0.5s ease 0.5s infinite; }

.imageBorder:hover:after {
  animation: glitchy 0.5s ease infinite reverse; }

@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }
/*----Accordian Headers Basic Neon Glow Text----*/
.neon {
  font-family: 'neoneonregular';
  text-align: center;
  font-size: 120px; }

.pink {
  color: #ffffff;
  text-shadow: 0px 0px 200px #ff91fc, 0px 0px 30px #ff49fb, -1px -1px 5px #fff, 10px 1px 100px #af00b2; }

/*MODAL*/
/* The Modal (background) */
.bioModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }

/* Modal Close Button */
.close {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 8px 8px 9px;
  color: #9d9d9d;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 13;
  font-size: 2em;
  font-weight: bold;
  border-radius: 2px 0 2px 2px; }

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

/* Modal Content */
.modalContent {
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 0px 1px 1px #191919;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(-45deg, #FBAD2F, #5E4B8D, #D4295E);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; }

#modalPhoto img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 7% 6% 6% 6%; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/* Modal Text */
#modalText {
  padding: 6%;
  font-family: 'proxima_nova_ltsemibold';
  color: #f5f5f5; }

#modalText p {
  font-size: 1.3em; }

.bioFooter {
  list-style-type: none;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 2%; }

.bioFooter li {
  display: inline;
  padding: 2%; }

.bioFooter a {
  color: #5E4B8D;
  font-style: italic;
  font-family: 'proxima_nova_ltsemibold'; }

.bioFooter a:hover {
  color: #ffffff; }

/*---Modal Name Glitch Text Effect----*/
.glitch {
  font-family: 'proxima_nova_ltsemibold';
  color: white;
  font-size: 50px;
  position: relative;
  padding-bottom: 3%;
  margin: 0 auto;
  text-shadow: 1px 1px black; }

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.7);
  margin: 7px 0px;
  text-align: center;
  padding: 4% 2% 3% 2%;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 1.2em; }

footer p {
  margin-bottom: .5em;
  color: #9d9d9d; }

footer a {
  color: #f5f5f5;
  font-style: italic; }

footer a:hover {
  color: #d4295e; }

/* Up Button */
#fixedBtn {
  position: fixed;
  bottom: 8%;
  right: 1.5%;
  z-index: 15; }

#toTopBtn {
  border-radius: 2px;
  font-family: Georgia;
  color: #9d9d9d;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 7px 10px 1px 10px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 0px 6px 1px rgba(75, 75, 75, 0.5);
  text-decoration: none;
  transition: 0.6s ease; }

#toTopBtn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 0px rgba(75, 75, 75, 0.5); }

/* MEDIA QUERIES */
/*Section 1 Media Queries*/
@media only screen and (max-width: 1000px) {
  .header-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }

  .mix-logo {
    width: 50vw; }

  .header-container h2 {
    position: relative;
    padding-left: 0.5em;
    /*padding-left to make heading align up with the logo*/
    font-family: 'proxima_nova_ltsemibold';
    font-size: 3em;
    color: #9d9d9d; } }
@media only screen and (max-width: 640px) {
  .header-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }

  .mix-logo {
    width: 100vw; }

  .header-container h2 {
    position: relative;
    padding-left: 0.5em;
    /*padding-left to make heading align up with the logo*/
    font-family: 'proxima_nova_ltsemibold';
    font-size: 3em;
    color: #EFEFEF; } }
/* What is Mix Section Media Queries */
@media only screen and (max-width: 767px) {
  .mix-info {
    height: 100%; } }
@media only screen and (max-width: 493px) {
  iframe {
    margin-top: 56px; }

  .mix-info .mix-info-container .mix-info-content {
    padding: 0 2em; } }
/* Modal Media Queries */
@media only screen and (max-width: 991px) {
  #modalPhoto img {
    width: 70%;
    padding-bottom: 3%; }

  #modalText {
    padding: 0 6% 2% 6%;
    width: 70%;
    margin: 0 auto; }

  .bioFooter li {
    display: block;
    padding: 0; } }
@media only screen and (max-width: 600px) {
  .modalContent {
    width: 100%; }

  #modalPhoto img {
    width: 95%;
    padding-bottom: 1%; }

  #modalText {
    padding: 0 6% 2% 6%;
    width: 95%;
    margin: 0 auto; } }
@media only screen and (max-width: 425px) {
  .glitch {
    font-size: 2.5em; }

  #modalText h3 {
    font-size: 1.3em; }

  #modalText p {
    font-size: 1.2em; }

  .bioFooter {
    font-size: 1.3em; } }
/*Footer Media Query*/
@media only screen and (max-width: 768px) {
  footer {
    padding-top: 6%; } }
@media only screen and (max-width: 400px) {
  footer {
    padding-top: 8%; } }

/*# sourceMappingURL=main.css.map */
